.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 350px;
    width: 100%;
    height: 400px;
    margin: auto;
    text-align: center;
    transition: opacity 0.3s ease; /* Добавляет плавный переход для прозрачности */
}

.card:hover {
    opacity: 0.7; /* Уменьшает прозрачность на 20% при наведении */
}

/* Image container styling */
.imageContainer {
    position: relative;
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    height: 200px; /* Fixed height to keep images consistent */
}

.eventImage {
    border-radius: 12px;
    object-fit: cover; /* Makes sure images fill the container */
    width: 100%;
    height: 100%;
}

/* Info container styling */
.infoContainer {
    margin-top: 16px;
    flex-grow: 1; /* Makes the container stretch to fill space */
}

/* Header styling */
.header {
    display: flex;
    margin-bottom: 12px;
    justify-content: space-between;
}

.folderName {
    font-size: 19px;
    font-weight: bold;
    max-width: 50%;
    color: var(--text-color);
    word-wrap: break-word; /* Ensures long words break onto the next line */
    white-space: normal; /* Allow text to wrap normally */
    overflow-wrap: break-word; /* Ensure very long words don't overflow */
    line-height: 1.3; /* Optional: Adds some line spacing to improve readability */
}


.totalBill {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.billText {
    font-size: 14px;
    color: #777;
}

.billAmount {
    font-size: 20px;
    font-weight: normal;
    color: var(--text-color);
}

.splitSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.avatars {
    display: flex;
    gap: 8px;
    margin: 8px 0;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* Button styling */
.splitButton {
    background-color: #4ab8f7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.splitButton:hover {
    background-color: #359ac6;
}

.eventsCount {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .avatars {
        gap: 4px;
    }
}

