.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin-top: 3px;
  font-size: 17px;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

.logo {
  cursor: pointer;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  position: relative;
  font-size: 20px;
  cursor: pointer;
}

.notificationDot {
  position: absolute;
  top: -3px;
  right: -3px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.profilePicture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.userImage {
  object-fit: cover;
}

.switchTheme {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 515px) {
  .username, .profilePicture {
    display: none;
  }
}

